body {
    background-color: rgb(243, 243, 244);
    font-family:'Courier New', Courier, monospace;
}

button {
    font-family:'Courier New', Courier, monospace;
    padding: 7px;
    margin: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 2vw;
}